<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 

</head>
<body class="font-sans bg-gray-50 text-gray-800 transition-colors duration-300 dark:bg-gray-900 dark:text-gray-200">
    <%- include('./partials/navbar') %>
    <%- include('./partials/home') %>
    <%- include('./partials/about') %>
    <%- include('./partials/skills') %>
    <%- include('./partials/projectCard') %>    
    <%- include('./partials/contact') %>    
    <%- include('./partials/footer') %>    

</body>

</html>